* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background-image: url(./jeremy-bishop-1braZySlEKA-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

.bubble {
  border-radius: 50%;
  position: absolute;
  animation: faze 2s;
}

@keyframes faze {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
