* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  animation: move 20s infinite alternate;
}

@keyframes move {
  0% {
    background-color: #111;
  }

  100% {
    background-color: rgb(0, 100, 100);
  }
}

.bubble {
  border-radius: 50%;
  position: absolute;
  animation: faze 2s;
}

@keyframes faze {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
